**/__pycache__/
KS/whiteboards
**/*.pyc
train_local.sh
*.out
*.log
**/logs/
KS/Trained_Models
KF/data
KF/Trained_Models
KF/FNO_data/data/*.npy
KF/FNO_data/data/*.gif
training/ns_data_visc1e-3.mat
KF/FNO_data/downloaded_data
KF/data_gen2.py
KF/data2.sh